#leftPlayerActiveCards{
    -fx-background-color: #ff1d31;
}
#leftPlayerCards{
    -fx-background-color: #ff8f26;
}
#leftOpponentCards{
    -fx-background-color: #c9ff95;
}
#leftOpponentHiddenCards{
    -fx-background-color: #f085ff;
}
#leftBattleField{

}
#centerBattleField{

}
#rightBattleField{

}

#AttackButton {

}

#BattleFrontTextBoxGUI {
    -fx-background-image: url("images/metalFrame3.jpg");
    -fx-background-position: center center;
    -fx-background-size: stretch;
}
#leftPlayerBattleFront, #centerPlayerBattleFront, #rightPlayerBattleFront{
    -fx-background-image: url("images/woodenFrame.jpg");
    -fx-background-position: center center;
    -fx-background-size: stretch;

}
#leftOpponentBattleFront, #centerOpponentBattleFront, #rightOpponentBattleFront{
    -fx-background-image: url("images/woodenFrameReverse.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#hitPoints{

}

