.root {
    -fx-background-image: url("images/bgImage.png");
    -fx-background-size: stretch;
    -fx-background-position: center center;
}

#IP, #port {
    -fx-font-size: 1.8em;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-fill: white;
}

#connectionStatus {
    -fx-font-size: 1.4em;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-fill: white;
}
